.form-field {
  margin-bottom: 0;
  width: 100%;
}

.form-field-error {
  display: block;
  color: var(--error);
  font-size: 0.75rem;
  margin-top: 0.375rem;
  line-height: 1.4;
  font-weight: 500;
}

.input-error,
.input-error:focus {
  border-color: var(--error) !important;
}

.input-error:focus {
  box-shadow: 0 0 0 3px rgba(255, 77, 79, 0.1) !important;
}
